In [1]:
import pandas as pd

In [11]:
df = pd.DataFrame({'snow': [2.81, 3.21, 3.62, 2.32, 2.71, 3.27, 2.97, 3.21, 3.32],
                   'ice': [4.17, 4.22, 5.27, 5.57, 4.69, 4.22, 4.79, 4.58, 3.61]})


df['difference'] = (df.ice * 100) / df.snow
df['percent'] = df.difference - 100

   snow   ice  difference     percent
0  2.81  4.17  148.398577   48.398577
1  3.21  4.22  131.464174   31.464174
2  3.62  5.27  145.580110   45.580110
3  2.32  5.57  240.086207  140.086207
4  2.71  4.69  173.062731   73.062731
5  3.27  4.22  129.051988   29.051988
6  2.97  4.79  161.279461   61.279461
7  3.21  4.58  142.679128   42.679128
8  3.32  3.61  108.734940    8.734940