In [1]:
import pandas as pd
import functions 
import os

In [17]:

%%time

column = 'dfs'
print(column)

result_df = pd.DataFrame()

# langtang
# folder_path = '/Volumes/Extreme SSD/2024May_sedcas_modelruns/3mustangTL/default_land_cover'
folder_path = '/Volumes/Extreme SSD/2024May_sedcas_modelruns/1langtangSL/default_land_cover/3default_land_cover_50percent'

# Iterate over the files in the folders
for folder_name in os.listdir(folder_path):
    # skip dsstore thing
    if folder_name == '.DS_Store':
        continue
    # skip all csvs
    if folder_name.endswith('.csv'):
        continue
    file_path = os.path.join(folder_path, folder_name, 'Sediment.out')
    if os.path.isfile(file_path):
        
        # calculate mean monthly value for given column 
        output_df = pd.read_csv(file_path)
        output_df = functions.count_dfs_per_month(output_df, column)
        # take the column 
        name_column = output_df[column]
        # rename the columns 
        column_name = f'{column}_{folder_name}'
        result_df[column_name] = name_column
        result_df.columns = [col[-3:] for col in result_df.columns]


output_path = '/Users/varyabazilova/Desktop/paper2/202405_modelruns/SL_default_landcover_output/'
result_df.to_csv(output_path + '1langtang_mean_monthly_SL_dfcount_50percent_default_landcover.csv', index = False)

# result_df.to_csv(folder_path + '/long_term_mean_monthly_Q100_default_landcover.csv', index = False)



result_df

dfs
CPU times: user 26 s, sys: 838 ms, total: 26.9 s
Wall time: 27.4 s

,20a,29a,23a,38a,12b,14a,12d,12c,31a,30b,...,19c,19d,13d,30a,13c,19b,13b,28a,22a,21a
0,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,...,0.201686,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN
1,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,...,0.812173,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN
2,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,...,0.000000,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN
3,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,...,0.000000,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN
4,0.000000,NaN,NaN,NaN,0.255795,0.248846,NaN,NaN,NaN,NaN,...,0.166970,0.000000,NaN,NaN,0.000000,0.264298,0.294225,NaN,NaN,NaN
5,2.183425,NaN,NaN,NaN,9.221255,6.097247,NaN,NaN,NaN,NaN,...,6.195058,4.221288,NaN,NaN,2.787896,6.857397,7.609532,NaN,NaN,NaN
6,11.292259,NaN,NaN,NaN,24.606611,16.143375,NaN,NaN,NaN,NaN,...,12.194841,14.496714,NaN,NaN,24.221419,13.657866,23.215882,NaN,NaN,NaN
7,4.577953,NaN,NaN,NaN,15.643976,7.946099,NaN,NaN,NaN,NaN,...,6.155590,6.683147,NaN,NaN,13.560195,6.899360,12.868820,NaN,NaN,NaN
8,1.562766,NaN,NaN,NaN,3.238573,1.609606,NaN,NaN,NaN,NaN,...,2.421444,2.799163,NaN,NaN,3.241986,2.601917,2.728190,NaN,NaN,NaN
9,0.122826,NaN,NaN,NaN,0.769486,0.475021,NaN,NaN,NaN,NaN,...,0.321837,0.281962,NaN,NaN,0.395690,0.508047,0.633550,NaN,NaN,NaN
10,0.000000,NaN,NaN,NaN,0.318918,0.399501,NaN,NaN,NaN,NaN,...,0.271621,0.000000,NaN,NaN,0.000000,0.320014,0.365816,NaN,NaN,NaN
11,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,...,0.439241,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN

In [18]:
# still calculate count for SL bagrot anf TL and SL for mustang