In [1]:
import pandas as pd 
import xarray as xr
import matplotlib.pyplot as plt 
import numpy as np
import os
import seaborn as sns

# import xycmap

import functions

## calculate annual mean per the 30-years of modelling for all land covers - langtang


structure: 
- 4 different land covers
- 3 different regions
- this notebook is for langtang

In [ ]:
# timestep workaround
column = 'Qstl'
# folder_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/1landcover/langtang_climate_cut'
folder_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/2landcover/langtang_climate_cut'
# folder_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/3landcover/langtang_climate_cut'
# folder_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/4landcover/langtang_climate_cut'

# read one file to get the time-step
df = functions.calculate_monthly_sediment_yield_all(pd.read_csv(folder_path + '/12a/Sediment.out'), column)
df = df[['month', 'year']]

# elevation langtang
elevation = pd.read_csv('/Users/varyabazilova/Desktop/paper2/downscaling_simple/coordinates_and_elevation_with_labels_langtang.csv')[['cellnr2','band_data']] 
elevation = elevation.transpose()

elevation_list = elevation.loc['cellnr2'].tolist()

In [ ]:
%%time

column = 'Qstl'
print(column)
result_df = pd.DataFrame()

# Iterate over the files in the folders
for folder_name in os.listdir(folder_path):
    # skip dsstore thing
    if folder_name == '.DS_Store':
        continue
    # skip all csvs
    if folder_name.endswith('.csv'):
        continue
    file_path = os.path.join(folder_path, folder_name, 'Sediment.out')
    if os.path.isfile(file_path):
        sediments = pd.read_csv(file_path)
        # calculate mean monthly value for given column 
        output_df = functions.calculate_monthly_sediment_yield_all(sediments, column)
        # take the column 
        name_column = output_df[column]
        # rename the columns 
        column_name = f'{column}_{folder_name}'
        result_df[column_name] = name_column
        result_df.columns = [col[-3:] for col in result_df.columns]

# result_df2 = result_df.transpose()

result_df = result_df
result_df = result_df[elevation_list]

if elevation_list == result_df.columns.tolist():
    print("default land cover. monthly data: same")
else:
    print("not the same")


# rename columns according the the elevation and merge with timestep 
result_df.columns = elevation.loc['band_data']
result_df = pd.concat([df, result_df],axis=1)
result_df['land_cover'] = 'landcover2'
print(result_df.land_cover[1])
# result_df.to_csv(folder_path + '/monthly_sum_elevation_Qstl_landcover2.csv', index = False)

# create a dataframe with timestep and attach it to the monthly data dataframe

monthly_data = result_df

In [ ]:
# result_df

# mean monthly (averaged across all the years)

In [ ]:
# folder_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/1landcover/langtang_climate_cut'
# folder_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/2landcover/langtang_climate_cut'
# folder_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/3landcover/langtang_climate_cut'
# folder_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/4landcover/langtang_climate_cut'
#

In [ ]:
%%time

column = 'Qstl'
print(column)
monthly_mean = pd.DataFrame()


# Iterate over the files in the folders
for folder_name in os.listdir(folder_path):
    # skip dsstore thing
    if folder_name == '.DS_Store':
        continue
    # skip all csvs
    if folder_name.endswith('.csv'):
        continue
    file_path = os.path.join(folder_path, folder_name, 'Sediment.out')
    if os.path.isfile(file_path):
        
        # calculate mean monthly value for given column 
        output_df = functions.calculate_monthly_sediment_yield(pd.read_csv(file_path))
        # take the column 
        name_column = output_df[column]
        # rename the columns 
        column_name = f'{column}_{folder_name}'
        monthly_mean[column_name] = name_column
        monthly_mean.columns = [col[-3:] for col in monthly_mean.columns]


monthly_mean = monthly_mean[elevation_list]

if elevation_list == monthly_mean.columns.tolist():
    print("default land cover. monthly data: same")
else:
    print("not the same")



monthly_mean.columns = elevation.loc['band_data']
# add month column
monthly_mean['month'] = monthly_mean.index.values + 1
monthly_mean['land_cover'] ='landcover4'
print(monthly_mean['land_cover'][1])
# monthly_mean.to_csv(folder_path + '/long_term_mean_monthly_Qstl_elevation_landcover4.csv', index = False)

In [ ]:
# elevation_list

# mustang - all months

In [ ]:
# timestep workaround
column = 'Qstl'
# folder_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/1landcover/mustang_climate_cut'
# folder_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/2landcover/mustang_climate_cut'
# folder_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/3landcover/mustang_climate_cut'
folder_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/4landcover/mustang_climate_cut'

# read one file to get the time-step
df = functions.calculate_monthly_sediment_yield_all(pd.read_csv(folder_path + '/13a/Sediment.out'), column)
df = df[['month', 'year']]

# elevation langtang
elevation = pd.read_csv('/Users/varyabazilova/Desktop/paper2/downscaling_simple/coordinates_and_elevation_with_labels_mustang.csv')[['cellnr2','band_data']] 
elevation = elevation.transpose()

elevation_list = elevation.loc['cellnr2'].tolist()

In [ ]:
# elevation_list
elevation

In [ ]:
%%time

column = 'Qstl'
print(column)
result_df = pd.DataFrame()

# Iterate over the files in the folders
for folder_name in os.listdir(folder_path):
    # skip dsstore thing
    if folder_name == '.DS_Store':
        continue
    # skip all csvs
    if folder_name.endswith('.csv'):
        continue
    file_path = os.path.join(folder_path, folder_name, 'Sediment.out')
    if os.path.isfile(file_path):
        sediments = pd.read_csv(file_path)
        # calculate mean monthly value for given column 
        output_df = functions.calculate_monthly_sediment_yield_all(sediments, column)
        # take the column 
        name_column = output_df[column]
        # rename the columns 
        column_name = f'{column}_{folder_name}'
        result_df[column_name] = name_column
        result_df.columns = [col[-3:] for col in result_df.columns]

# result_df2 = result_df.transpose()

result_df = result_df
result_df = result_df[elevation_list]

if elevation_list == result_df.columns.tolist():
    print("default land cover. monthly data: same")
else:
    print("not the same")


# rename columns according the the elevation and merge with timestep 
result_df.columns = elevation.loc['band_data']
result_df = pd.concat([df, result_df],axis=1)
result_df['land_cover'] = 'landcover4'
print(result_df.land_cover[1])
# result_df.to_csv(folder_path + '/monthly_sum_elevation_Qstl_landcover4.csv', index = False)

# create a dataframe with timestep and attach it to the monthly data dataframe

# mustang - monthly average across years

In [ ]:
# folder_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/1landcover/mustang_climate_cut'
# folder_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/2landcover/mustang_climate_cut'
# folder_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/3landcover/mustang_climate_cut'
folder_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/4landcover/mustang_climate_cut'
#

In [ ]:
%%time

column = 'Qstl'
print(column)
monthly_mean = pd.DataFrame()


# Iterate over the files in the folders
for folder_name in os.listdir(folder_path):
    # skip dsstore thing
    if folder_name == '.DS_Store':
        continue
    # skip all csvs
    if folder_name.endswith('.csv'):
        continue
    file_path = os.path.join(folder_path, folder_name, 'Sediment.out')
    if os.path.isfile(file_path):
        
        # calculate mean monthly value for given column 
        output_df = functions.calculate_monthly_sediment_yield(pd.read_csv(file_path))
        # take the column 
        name_column = output_df[column]
        # rename the columns 
        column_name = f'{column}_{folder_name}'
        monthly_mean[column_name] = name_column
        monthly_mean.columns = [col[-3:] for col in monthly_mean.columns]


monthly_mean = monthly_mean[elevation_list]

if elevation_list == monthly_mean.columns.tolist():
    print("default land cover. monthly data: same")
else:
    print("not the same")



monthly_mean.columns = elevation.loc['band_data']
# add month column
monthly_mean['month'] = monthly_mean.index.values + 1
monthly_mean['land_cover'] ='landcover4'
print(monthly_mean['land_cover'][1])

monthly_mean.to_csv(folder_path + '/long_term_mean_monthly_Qstl_elevation_landcover4.csv', index = False)

# calculate mean annual values for all land covers for langtang and mustang areas forthe SL case

In [2]:
%%time

# ----- LANGTANG -------

# Path to the directory containing your folders
# directory_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/1landcover/mustang_climate_cut'
# directory_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/2landcover/mustang_climate_cut'
# directory_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/3landcover/mustang_climate_cut'
directory_path = '/Users/varyabazilova/Desktop/paper2/202406_modelruns/30years/4landcover/langtang_climate_cut'

mean_annual_sum =[]

mean_annual_10 = []
mean_annual_20 = []
mean_annual_25 = []
mean_annual_30 = []
mean_annual_40 = []
mean_annual_50 = []
mean_annual_60 = []
mean_annual_70 = []
mean_annual_75 = []
mean_annual_80 = []
mean_annual_90 = []
mean_annual_100 = []


# Iterate over each folder
for folder_name in os.listdir(directory_path):
    folder_path = os.path.join(directory_path, folder_name)

    if folder_name == '.DS_Store':
        continue
    if folder_name.startswith('.'):
        continue
    # skip all csvs
    if folder_name.endswith('.csv'):
        continue
        
    # Check if it's a directory and its name starts with 'cellnr'
    if os.path.isdir(folder_path): #and folder_name.startswith('cellnr'):

        # Locate the 'sediment.out' file within the folder
        sediment_out_path = os.path.join(folder_path, 'Sediment.out')
        
        # Read the contents of the file into a pandas DataFrame
        df = pd.read_csv(sediment_out_path, delimiter=',')  # Adjust delimiter if needed
        # mean:
        mean_annual_sum_value = functions.annual_sum_mean(df)
        # percentiles:
        mean_annual_10_value = functions.annual_sum_percentile(df, 10)
        mean_annual_20_value = functions.annual_sum_percentile(df, 20)
        mean_annual_25_value = functions.annual_sum_percentile(df, 25)
        mean_annual_30_value = functions.annual_sum_percentile(df, 30)
        mean_annual_40_value = functions.annual_sum_percentile(df, 40)
        mean_annual_50_value = functions.annual_sum_percentile(df, 50)
        mean_annual_60_value = functions.annual_sum_percentile(df, 60)
        mean_annual_70_value = functions.annual_sum_percentile(df, 70)
        mean_annual_75_value = functions.annual_sum_percentile(df, 75)
        mean_annual_80_value = functions.annual_sum_percentile(df, 80)
        mean_annual_90_value = functions.annual_sum_percentile(df, 90)
        mean_annual_100_value =  functions.annual_sum_percentile(df, 100)

       # # Save the DataFrame into the results table
        mean_annual_sum.append((folder_name.replace('cellnr', ''), mean_annual_sum_value))

        mean_annual_10.append((folder_name.replace('cellnr', ''), mean_annual_10_value ))
        mean_annual_20.append((folder_name.replace('cellnr', ''), mean_annual_20_value ))
        mean_annual_25.append((folder_name.replace('cellnr', ''), mean_annual_25_value ))
        mean_annual_30.append((folder_name.replace('cellnr', ''), mean_annual_30_value ))
        mean_annual_40.append((folder_name.replace('cellnr', ''), mean_annual_40_value ))
        mean_annual_50.append((folder_name.replace('cellnr', ''), mean_annual_50_value ))
        mean_annual_60.append((folder_name.replace('cellnr', ''), mean_annual_60_value ))
        mean_annual_70.append((folder_name.replace('cellnr', ''), mean_annual_70_value ))
        mean_annual_75.append((folder_name.replace('cellnr', ''), mean_annual_75_value ))
        mean_annual_80.append((folder_name.replace('cellnr', ''), mean_annual_80_value ))
        mean_annual_90.append((folder_name.replace('cellnr', ''), mean_annual_90_value ))
        mean_annual_100.append((folder_name.replace('cellnr', ''),mean_annual_100_value))



# make table 
mean_annual_sum_df = pd.DataFrame(mean_annual_sum, columns=['cellnr', 'annual_mean_Qstl_mm']).set_index('cellnr')
mean_annual_10_df  = pd.DataFrame(mean_annual_10, columns=['cellnr', 'annual_10percent_Qstl_mm']).set_index('cellnr')
mean_annual_20_df  = pd.DataFrame(mean_annual_20, columns=['cellnr', 'annual_20percent_Qstl_mm']).set_index('cellnr')
mean_annual_25_df  = pd.DataFrame(mean_annual_25, columns=['cellnr', 'annual_25percent_Qstl_mm']).set_index('cellnr')
mean_annual_30_df  = pd.DataFrame(mean_annual_30, columns=['cellnr', 'annual_30percent_Qstl_mm']).set_index('cellnr')
mean_annual_40_df  = pd.DataFrame(mean_annual_40, columns=['cellnr', 'annual_40percent_Qstl_mm']).set_index('cellnr')
mean_annual_50_df  = pd.DataFrame(mean_annual_50, columns=['cellnr', 'annual_50percent_Qstl_mm']).set_index('cellnr')
mean_annual_60_df  = pd.DataFrame(mean_annual_60, columns=['cellnr', 'annual_60percent_Qstl_mm']).set_index('cellnr')
mean_annual_70_df  = pd.DataFrame(mean_annual_70, columns=['cellnr', 'annual_70percent_Qstl_mm']).set_index('cellnr')
mean_annual_75_df  = pd.DataFrame(mean_annual_75, columns=['cellnr', 'annual_75percent_Qstl_mm']).set_index('cellnr')
mean_annual_80_df  = pd.DataFrame(mean_annual_80, columns=['cellnr', 'annual_80percent_Qstl_mm']).set_index('cellnr')
mean_annual_90_df  = pd.DataFrame(mean_annual_90, columns=['cellnr', 'annual_90percent_Qstl_mm']).set_index('cellnr') 
mean_annual_100_df = pd.DataFrame(mean_annual_100, columns=['cellnr', 'annual_100percent_Qstl_mm']).set_index('cellnr')


# merge together
merged_df = pd.concat([mean_annual_sum_df, mean_annual_10_df, mean_annual_20_df,
                       mean_annual_25_df, mean_annual_30_df, mean_annual_40_df, mean_annual_50_df,
                       mean_annual_60_df, mean_annual_70_df, mean_annual_75_df, mean_annual_80_df, 
                       mean_annual_90_df, mean_annual_100_df], axis = 1)


# merged_df.to_csv(directory_path + '/annual_mean_percentiles_for_sediment_input.csv', index = True)

CPU times: user 29.8 s, sys: 718 ms, total: 30.6 s
Wall time: 31 s

In [8]:
# convert to m3
for column in merged_df.columns:
    # for the columns with _mm in it
    if '_mm' in column:
        # Replace '_mm' with '_m3' and create a new column
        new_column_name = column.replace('_mm', '_m3')
        # convert to m3: 1) [sediments mm to m] 2) [sediments [m] * area [m2]
        merged_df[new_column_name] = (merged_df[column] / 1000) * 4.83 * (10 ** 6)


# calculate the volume of m3 per day 

for column in merged_df.columns:
    if '_m3' in column:
        merged_df[column + '_day'] = merged_df[column] /365

In [9]:
# add coordinates and save the output 

# csv with coordinates and geopotential (z) 

coordinates = pd.read_csv('/Users/varyabazilova/Desktop/paper2/downscaling_simple/coordinates_with_labels_langtang.csv').set_index('cellnr2')
# coordinates = pd.read_csv('/Users/varyabazilova/Desktop/paper2/downscaling_simple/coordinates_with_labels_bagrot.csv').set_index('cellnr2')

# coordinates = pd.read_csv('/Users/varyabazilova/Desktop/paper2/downscaling_simple/coordinates_with_labels_mustang.csv').set_index('cellnr2')
with_coords = pd.concat([merged_df, coordinates],  axis=1).reset_index()
# coordinates

# with_coords

In [12]:
# with_coords.to_csv(directory_path + '/annual_mean_percentiles_for_sediment_input.csv', index = True)

In [11]:
coordinates

,Longitude,Latitude,point,Longitude_new,Latitude_new,cellnr,z,labels
cellnr2,,,,,,,,
12a,85.5,28.1,"(85.475, 28.075000000000003)",85.475,28.075,12,4006.004,a
12b,85.5,28.1,"(85.525, 28.075000000000003)",85.525,28.075,12,4006.004,b
12c,85.5,28.1,"(85.475, 28.125)",85.475,28.125,12,4006.004,c
12d,85.5,28.1,"(85.525, 28.125)",85.525,28.125,12,4006.004,d
13a,85.6,28.1,"(85.574998, 28.075000000000003)",85.575,28.075,13,4116.322,a
13b,85.6,28.1,"(85.624998, 28.075000000000003)",85.625,28.075,13,4116.322,b
13c,85.6,28.1,"(85.574998, 28.125)",85.575,28.125,13,4116.322,c
13d,85.6,28.1,"(85.624998, 28.125)",85.625,28.125,13,4116.322,d
14a,85.7,28.1,"(85.67499699999999, 28.075000000000003)",85.675,28.075,14,4106.181,a
14b,85.7,28.1,"(85.724997, 28.075000000000003)",85.725,28.075,14,4106.181,b
14c,85.7,28.1,"(85.67499699999999, 28.125)",85.675,28.125,14,4106.181,c
14d,85.7,28.1,"(85.724997, 28.125)",85.725,28.125,14,4106.181,d
19a,85.4,28.2,"(85.375002, 28.175001)",85.375,28.175,19,3513.108,a
19b,85.4,28.2,"(85.425002, 28.175001)",85.425,28.175,19,3513.108,b
19c,85.4,28.2,"(85.375002, 28.225001)",85.375,28.225,19,3513.108,c
19d,85.4,28.2,"(85.425002, 28.225001)",85.425,28.225,19,3513.108,d
20a,85.5,28.2,"(85.475, 28.175001)",85.475,28.175,20,4432.013,a
20b,85.5,28.2,"(85.525, 28.175001)",85.525,28.175,20,4432.013,b
20c,85.5,28.2,"(85.475, 28.225001)",85.475,28.225,20,4432.013,c
20d,85.5,28.2,"(85.525, 28.225001)",85.525,28.225,20,4432.013,d
21a,85.6,28.2,"(85.574998, 28.175001)",85.575,28.175,21,5007.776,a
21b,85.6,28.2,"(85.624998, 28.175001)",85.625,28.175,21,5007.776,b
21c,85.6,28.2,"(85.574998, 28.225001)",85.575,28.225,21,5007.776,c
21d,85.6,28.2,"(85.624998, 28.225001)",85.625,28.225,21,5007.776,d
22a,85.7,28.2,"(85.67499699999999, 28.175001)",85.675,28.175,22,5149.130,a
22b,85.7,28.2,"(85.724997, 28.175001)",85.725,28.175,22,5149.130,b
22c,85.7,28.2,"(85.67499699999999, 28.225001)",85.675,28.225,22,5149.130,c
22d,85.7,28.2,"(85.724997, 28.225001)",85.725,28.225,22,5149.130,d
23a,85.8,28.2,"(85.775003, 28.175001)",85.775,28.175,23,5078.555,a
23b,85.8,28.2,"(85.82500300000001, 28.175001)",85.825,28.175,23,5078.555,b
23c,85.8,28.2,"(85.775003, 28.225001)",85.775,28.225,23,5078.555,c
23d,85.8,28.2,"(85.82500300000001, 28.225001)",85.825,28.225,23,5078.555,d
28a,85.5,28.3,"(85.475, 28.274999)",85.475,28.275,28,4167.127,a
28b,85.5,28.3,"(85.525, 28.274999)",85.525,28.275,28,4167.127,b
28c,85.5,28.3,"(85.475, 28.324999)",85.475,28.325,28,4167.127,c
28d,85.5,28.3,"(85.525, 28.324999)",85.525,28.325,28,4167.127,d
29a,85.6,28.3,"(85.574998, 28.274999)",85.575,28.275,29,5154.559,a
29b,85.6,28.3,"(85.624998, 28.274999)",85.625,28.275,29,5154.559,b
29c,85.6,28.3,"(85.574998, 28.324999)",85.575,28.325,29,5154.559,c
29d,85.6,28.3,"(85.624998, 28.324999)",85.625,28.325,29,5154.559,d
30a,85.7,28.3,"(85.67499699999999, 28.274999)",85.675,28.275,30,5603.103,a
30b,85.7,28.3,"(85.724997, 28.274999)",85.725,28.275,30,5603.103,b
30c,85.7,28.3,"(85.67499699999999, 28.324999)",85.675,28.325,30,5603.103,c
30d,85.7,28.3,"(85.724997, 28.324999)",85.725,28.325,30,5603.103,d
31a,85.8,28.3,"(85.775003, 28.274999)",85.775,28.275,31,5558.648,a
31b,85.8,28.3,"(85.82500300000001, 28.274999)",85.825,28.275,31,5558.648,b
31c,85.8,28.3,"(85.775003, 28.324999)",85.775,28.325,31,5558.648,c
31d,85.8,28.3,"(85.82500300000001, 28.324999)",85.825,28.325,31,5558.648,d
38a,85.7,28.4,"(85.67499699999999, 28.375)",85.675,28.375,38,5809.091,a
38b,85.7,28.4,"(85.724997, 28.375)",85.725,28.375,38,5809.091,b
38c,85.7,28.4,"(85.67499699999999, 28.424999999999997)",85.675,28.425,38,5809.091,c
38d,85.7,28.4,"(85.724997, 28.424999999999997)",85.725,28.425,38,5809.091,d